{
    "menu": {
        "prefix": "menu",
        "body": [
            "menu \"$1\"",
            "\t depends on $2",
            "",
            "endmenu"
        ],
        "description": "the menu snippets for kconfig"
    },
    "default config": {
        "prefix": "configd",
        "body": [
            "config $1",
            "\t tristate \"$2\" if EXPERT",
            "\t depends on $3",
            "\t select $4",
            "\t help",
            "\t   $5"
        ],
        "description": "the bool config snippets for kconfig with dependencies and selection"
    },
    "bool config": {
        "prefix": "configb",
        "body": [
            "config $1",
            "\t def_bool y",
            "\t bool \"$2\" if EXPERT",
            "\t depends on $3",
            "\t select $4",
            "\t help",
            "\t   $5"
        ],
        "description": "the bool config snippets for kconfig with dependencies and selection"
    },
    "int config": {
        "prefix": "configi",
        "body": [
            "config $1",
            "\t int \"$2\"",
            "\t depends on $3",
            "\t range $4 $5",
            "\t default $6",
            "\t help",
            "\t   $7"
        ],
        "description": "the int config snippets for kconfig with range and defaults"
    },
    "string config": {
        "prefix": "configs",
        "body": [
            "config $1",
            "\t string \"$2\" if EXPERT",
            "\t depends on $3",
            "\t default \"$4\"",
            "\t help",
            "\t   $5"
        ], 
        "description": "the string config snippets for kconfig with defaults and dependencies"
    },
    "choice config": {
        "prefix": "choicd",
        "body": [
            "choice",
            "\t prompt \"$1\" if EXPERT",
            "\t depends on $2",
            "\t default $3",
            "\t bool $4",
            "\t bool $5",
            "endchoice"
        ],
        "description": "the choice config snippets for kconfig with dependencies and defaults"
    }
}
