{
    "menu": {
        "prefix": "menu",
        "body": [
            "menu \"$1\"",
            "\tdepends on $2",
            "",
            "endmenu"
        ],
        "description": "the menu snippets for kconfig"
    },
    "default config": {
        "prefix": "configd",
        "body": [
            "config $1",
            "\ttristate \"$2\" if EXPERT",
            "\tdepends on $3",
            "\tselect $4",
            "\thelp",
            "\t  $5"
        ],
        "description": "the bool config snippets for kconfig with dependencies and selection"
    },
    "bool config": {
        "prefix": "configb",
        "body": [
            "config $1",
            "\tdef_bool y",
            "\tbool \"$2\" if EXPERT",
            "\tdepends on $3",
            "\tselect $4",
            "\thelp",
            "\t  $5"
        ],
        "description": "the bool config snippets for kconfig with dependencies and selection"
    },
    "int config": {
        "prefix": "configi",
        "body": [
            "config $1",
            "\tint \"$2\"",
            "\tdepends on $3",
            "\trange $4 $5",
            "\tdefault $6",
            "\thelp",
            "\t  $7"
        ],
        "description": "the int config snippets for kconfig with range and defaults"
    },
    "string config": {
        "prefix": "configs",
        "body": [
            "config $1",
            "\tstring \"$2\" if EXPERT",
            "\tdepends on $3",
            "\tdefault \"$4\"",
            "\thelp",
            "\t  $5"
        ], 
        "description": "the string config snippets for kconfig with defaults and dependencies"
    },
    "choice config": {
        "prefix": "choicd",
        "body": [
            "choice",
            "\tprompt \"$1\" if EXPERT",
            "\tdepends on $2",
            "\tdefault $3",
            "\tbool $4",
            "\tbool $5",
            "endchoice"
        ],
        "description": "the choice config snippets for kconfig with dependencies and defaults"
    }
}
